# Compiled source codes
*.class
*.a
*.o
*.so
*.dll
*.exe

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak
*.swo

# System files
.DS_Store
Thumbs.db

*.msh
*.pos
*.mesh
*.000*
git rm --cached *.msh

*.dat
*.png
/compile_commands.json
Makefile
CMakeFiles/
build/CMakeFiles/
CMakeCache.txt
.cache/
data/*.gf
data/*.mesh

build/
py/

update_git.sh
